doctype html
html
  head
    title Ask Science Hub
    block scripts
    block style
  body
    nav#navbar
         ul
            div.logo
                img(src="../static/img/logo2.png", alt="")
            li #[a(href="/") Home]
            li #[a(href="/#secondSection") Services]
            li #[a(href="/contact") Contact]
            li #[a(href="/about-us") About Us]
            li #[a(href="/privacy-policy") Privacy Policy]
    block content
    block foot
    footer#footer
         div
                        strong Copyright
                        |  Ask Academy © 2019-2020 | All Rights Reserved.