extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    

    section#firstSection
        div.large Be the part of end less possibility
        div.small Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae reiciendis animi velit libero! Eum impedit iste laudantium. Repudiandae architecto aperiam accusamus facere suscipit natus perferendis, quasi, quae perspiciatis nemo temporibus, nesciunt unde accusantium. Hic natus voluptas quia impedit, explicabo temporibus maiores quam debitis veniam repudiandae at. Quaerat soluta unde assumenda.
        div
            input.search(type="text" name ="search" id="search" placeholder="what are you looking for...")
            button.searchbtn Search

    section#secondSection
        h1.textcenter Our Services
        div.item
            div.card
                h1 this is heading
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, omnis dolores debitis id aspernatur nihil et perspiciatis blanditiis ad corrupti facere veniam beatae vel iure quisquam commodi voluptatem iusto rerum, corporis animi optio tempore. Possimus harum, tempore, nostrum, excepturi sint repudiandae facilis pariatur quae quaerat id ipsa? Voluptatem, id quibusdam?
            div.card
                h1 this is heading
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, omnis dolores debitis id aspernatur nihil et perspiciatis blanditiis ad corrupti facere veniam beatae vel iure quisquam commodi voluptatem iusto rerum, corporis animi optio tempore. Possimus harum, tempore, nostrum, excepturi sint repudiandae facilis pariatur quae quaerat id ipsa? Voluptatem, id quibusdam?
            div.card
                h1 this is heading
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, omnis dolores debitis id aspernatur nihil et perspiciatis blanditiis ad corrupti facere veniam beatae vel iure quisquam commodi voluptatem iusto rerum, corporis animi optio tempore. Possimus harum, tempore, nostrum, excepturi sint repudiandae facilis pariatur quae quaerat id ipsa? Voluptatem, id quibusdam?

    section#thirdSection
        div.form
            h1.textcenter Contact Us
            form(action="/contact", method="post", class="myForm" id="contact")
            input(type="text", class="myInput", name="name", placeholder="Enter your name")
            input(type="phone", class="myInput", name="phone", placeholder="Enter your phone number")
            input(type="email", class="myInput", name="email", placeholder="Enter your email")
            input(type="text", class="myInput", name="address", placeholder="Enter your address")
            input(type="text", class="myInput", name="desc", placeholder="Enter your subject")
            button(class="btn")
                | Submit