@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
scroll-behavior: smooth;
}

.logo{display: flex;
justify-content: center;
align-items: center;
}
.logo img{
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 20px;
    filter: invert(1);
}
#navbar{
    display: flex;
    align-items: center;
    background-color: #15d715;
    position: sticky;
    top: 0;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#navbar ul li{
    padding: 10px;
    margin: 7px;
    list-style: none;
}
#navbar ul li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#navbar ul li a:hover{
   color: grey;
   background-color: whitesmoke;
   border: 2px;
  border-radius: 15px;
  
  
}
                                           /* first section */
#firstSection{
    background: center / cover no-repeat url(../static/img/bg3.jpg);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.large{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: teal;

}
.small{
    font-size: 17px;
    width: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    


}
.search {
    width: 500px;
    padding: 10px;
    border: 2px;
    margin-top: 30px;
    font-family: serif;
    outline: none;
}
.searchbtn {
    width: 100px;
    padding: 10px;
    border: 2px;
    margin-top: 30px;
    font-family: serif;
    outline: none;
    cursor: pointer;
}

                                             /* second section */
#secondSection{
    background: center / cover no-repeat url(../static/img/bg.jpg);
    height: 80vh;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.card {
    width: 30%;
    height: 300px;
    color: black;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 15px;
}
.textcenter{
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
}

                                               /* third section */

#thirdSection{
    height: 80vh;
    background: center / cover no-repeat url("../static/img/contact.jpg");
}

.myInput {
        display: block;
        width: 60%;
        margin: auto;
        padding: 10px;
        margin-top: 18px;
        outline: none;
 }
 


.btn{
    display: block;
        width: 60%;
        margin: auto;
        padding: 10px;
        margin-top: 18px;
        outline: none;
        font-weight: bold;
        cursor: pointer;
    
    }
    .btn:hover{
        background-color: grey;
    }

    #footer{
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;text-align: center;
        height: 50px;
        color: white;
        background-color: black;
    }